
.cart {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  gap: 20px;
  max-width: 1222px;
  width: 100%;
  margin: 0 auto 4rem;
  padding: 0 15px;
}


@media (max-width: 1006px) {
  .cart {
    flex-direction: column;
    gap: 40px;
    padding: 0 10px;
  }
}
