.container {
  max-width: 1222px;
  margin: 0 auto;
  padding: 0 15px;
}


.title {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-align: center;
  font-family: shabnam;
  margin-top: 1.7rem;
  margin-bottom: 20px;
}

.title p {
  color: #114639;
  font-size: 36px;
  margin: 0;
}

.title span {
  color: gray;
  font-size: 14px;
}


.link {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 9px;
  color: #114639;
  text-decoration: none;
  font-weight: 500;
}

.link:hover {
  color: #e67e22;
}


.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  padding: 20px 0;
  justify-items: center; 
}


@media (max-width: 1100px) {
  .products {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 820px) {
  .products {
    grid-template-columns: repeat(2, 1fr);
  }
  .title p {
    font-size: 28px;
  }
}


@media (max-width: 550px) {
  .products {
    grid-template-columns: 1fr;
  }
  .title {
    flex-direction: column;
    gap: 10px;
  }
  .link {
    justify-content: center;
  }
}
